$backgroundColor: #36454F;
$textColor: #f1fffa;
$mainColor: #e5383b;

* {
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}
#registration-view {
  border-color: $textColor;
  border-width: 5px;
  min-height: 300px;
  border: solid 1px;
  padding: 20px;
  border-radius: 10px;
  margin-top: 10%;
  width: 50%;
  box-shadow: 10px 5px 5px grey;
 
}
#regi-view {
  border-color: $textColor;
  border-width: 5px;
  min-height: 300px;
  border: solid 1px;
  padding: 20px;
  border-radius: 50px;
  margin-top: 10%;
  width: 50%;
  background-color: $backgroundColor;
 
}

